<!DOCTYPE html>
<html>
<head>
	<title>Art Gal</title>
	<link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">

</head>
<body>
<div id='root'></div>


	<script type="text/javascript" src='/bundle.js' defer></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	
    <script type="text/javascript" src="js/scripts.js"></script>
    
<!-- 	<script type="text/javascript" src="https://kenwheeler.github.io/slick/slick/slick.js"></script>

    <script type="text/javascript">
    	$(document).ready(function(){
	      $('.single-item').slick();
	    });
    </script> -->

<!--      <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcWNv7pwJQQuPEeMdAXALbn-xbRVd8yIo&callback=initMap">
    </script>
 -->

</body>
</html>

