<!DOCTYPE html>
<html>
<head>
	<title>Art Gal</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="slick/slick.css">

</head>
<body>
<div id='root'></div>


	<script type="text/javascript" src='bundle.js' defer></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	
    <script type="text/javascript" src="js/scripts.js"></script>
    
	<script type="text/javascript" src="https://kenwheeler.github.io/slick/slick/slick.js"></script>

    <script type="text/javascript">
    	$(document).ready(function(){
	      $('.single-item').slick();
	    });
    </script>


</body>
</html>

