* {
    font-family: Arial, Helvetica, sans-serif;
}

.acctHr {
    width: 95%;
}

.acctCreate {
    margin-left: 0;
}

.text{
/*    margin-left: 2.5%;*/
    margin-bottom: 10px;
    margin-top: 5px;
/*    color: #990000;*/
/*    text-align: center;*/

}

.UserDetails {
/*    text-align: right;*/
    margin-left: 20%;
    margin-bottom: 25px;
    display: inline-block;
}
.paintDiv {
    display: inline-block;
    margin-right: 20%;
}

.paintImg {
    height: 150px;
    margin-left: 150px;
}

.exhibitions-list {
    width: 100%;
    overflow: hidden;
    margin-right: 2.5%;
    margin-left: 2.5%;
/*    overflow-x: hidden;
    overflow-y: hidden;*/
    display: block;
    /*text-align: center;*/
}

.box{
    float: left;
    width: 200px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    display: inline-block;
}

.images{
    width: 100%;
}

.box-text {
    height: 50px;
    padding: 5px 5px 5px 0;
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 14px;
}

.imgDiv {
  /*width: 30%;*/
  margin-left: 1em;
  margin-right: 1em;
  /*margin-top: 75px;*/
  /*float: lelft;*/
}

.pic {
  width: 35%;
  /*float: left;*/
}

.extitle {
  text-align: left;
  margin: 0;
  padding: 0;
}

.bucket {
  width: 32%;
  margin-left: 1%;
  display: inline-block;
}

@media (max-width: 800px) {
  .bucket {
    width: 49%;
  }
}
@media (max-width: 500px) {
  .bucket {
    width: 99%;
  }
}

