
* {
    font-family: Arial, Helvetica, sans-serif;
}

.logout {

	background-color: white;
    border: none;
    color: black;
    border-radius: 4px;
    border: 2px solid #373A3B;
    padding: 10px 25px;
    margin-bottom: 20px;
    cursor: pointer;
}

.logout:hover {
	background-color: #990000;
	color: white;
	border: 2px solid #990000;
}

.acctButtons {
    float: right;
}

.welcomeBack {
    float: left;
}

.accInfo {
    border: 1px solid ;
}

.crevents{
    border: 1px solid ;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.text{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;

}

.imageTitle {
    text-align: right;
}

.listStyle {
    display: inline;
}

.exhibitions-list {
    width: 120%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    display: block;
    text-align: left;
}

.box{
    float: left;
    width: 379px;
    margin-right: 10px;
    padding-top: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
}

.box-inside{
    padding-bottom: 10px;
    padding-left: 10px;
    height: 100px;
    display: block;
    text-align: left;
}

.images{
    display: block;
    float: left;
    padding-right: 7px;
    line-height: 14px;
}

.box-text {
    height: 78px;
    padding: 5px 5px 5px 0;
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.box-title {
    display: block;
    padding-top: 8px;
    /*font-size: 12px;*/
    line-height: 14px;
}
/*.title {
    margin-top: -1%;
    margin-right: 3%;
}*/