/*.event {
	float: right;
}*/
 
.heroImg {
 	height: 60%;
	width: 500px;
}

.hero {
	margin: 10px;
	/*float: left;*/
	display: block;
/*	margin-left: 3%;
	margin-right: 47%;*/

	/*margin-top: -85%;*/

/*	margin-top: 10px;
	margin-bottom: 10px;*/
}

.EventInfo {
	margin: 10px;
	float: right;
	text-align: justify;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
/*	margin-left: 47%;
	margin-right: 3%;*/
}

ul {
	list-style-type: none;
}

.hours {
	list-style-type: none;
} 

.bookmark {
	background-color: white;
    border: none;
    color: black;
    border-radius: 4px;
    border: 2px solid #373A3B;
    padding: 10px 25px;
    margin-left: 52%;
    margin-bottom: 20px;
    cursor: pointer;
}

.bookmark:hover {
	background-color: #373A3B;
	color: white;
}