.event {
	float: right;
}

.heroImg {
	margin-top: -85%;
	margin-left: 3%;
	height: 60%;
	width: 500px;
}

.hero {
	float: left;
	margin: 10px;
	margin-top: 0px;
}

.EventInfo {
	margin: 10px;
	float: left;
	text-align: justify;
	margin-left: 52%;
	margin-right: 3%;
}

.bookmark {
	background-color: #373A3B;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 10px 25px;
    margin-left: 52%;
    cursor: pointer;
}