.github {
	height: 14.5px;
	padding-left: 3px;
}

.team {
	float: left;
	/*padding-top: 0;*/
	/*margin-top: 0;*/
	margin-left: 2%;
	font-family: "Helvetica";
	font-size: 14px;
}

div ul {
/*	margin-top: 0;*/
}

div ul li {
	display: inline;
}

.extra {
	float: right;
	margin-right: 2.5%;
	/*padding-top: 0;*/
	/*margin-top: 0;*/
	font-family: "Helvetica";
	font-size: 14px;
}

h4 {
	margin-bottom: 0;
	padding-bottom: 0;
}

a:link {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

h5 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.copyright{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}
