.github {
	height: 20px;
}

.team {
	float: left;
}

.extra {
	float: right;
}

h4 {
	margin-bottom: 0;
	padding-bottom: 0;
}

a:link {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

h5 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.copyright{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}