.logo{
  width: 12%;
  margin-top: 2%;
  margin-left: 2%;
  margin-right:2%;
  display: inline-block;
  float: left
}

a:link {
  margin-right: 20px;
/*  margin-top: 200px;*/
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  float: right;
  margin-top: 30px;
  margin-right: 50px;
}


