.dayEvent {
	width: 300px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;

}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}