.details {
  float: left;
/*  display: inline-block;*/
  align-content: justify;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 10%
}

.imgGrid {
  height: 250px;
  width: 350px;
}

.imgResult {
  margin-left: 25px;
  margin-right: -2%;
  margin-top: 50px;
  float: left;
}

.exTitle {
  text-align: right;
  word-wrap: break-word;
}


.exLocate {
  color: grey;
  word-wrap: break-word;
  text-align: left;
}

.openingMonth {
  text-align: right;
  margin-right: 3%;
  margin-top: -1%;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}