.SearchForm_Label {
  font-family: Helvetica;
  font-size: 15px;
  display: inline-block;
  margin-bottom: 10px;
}

.selectType {
  border: none;
  width: 152px;
  font-size: 16px;
  height: 39px;
}

.Input {
  float: left;
  margin-right: 8px;
}
 
.Zip_Input {
  font-size: 12px; 
  padding: 10px ;
  border-radius: 2px;
}

.Date_Input {
  font-size: 12px; 
  padding: 8.5px;
  border-radius: 2px;
}

.Search {
  display: block;
}

.searchHr {
  margin-right: 2.5%;
}

.searchButton {
  margin-top: 27px !important;
}