.SearchForm_Label {
  font-family: Helvetica;
  font-size: 10px;
  float: left;
  margin:5px;
}

.selectType {
  float:left;
  margin:5px;
  width: 10%;
  border: none;
  font-size: 16px;
  padding: 12px 20px;
}

.Zip_Input {
  margin:5px;
  float:left;
  border: none;
  font-size: 12px; 
  padding: 12px 20px;
}

.Date_Input {
  margin:5px;
  float:left;
  border: none;
  font-size: 12px; 
  padding: 12px 20px;
}

.Search {
  display: block;
}

.SearchForm {
  margin-top: -1%;
  margin-right: 2%;
  margin-left: 16%;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 #dce0e0;
  border: 1px solid #dce0e0;
}